.judul p{
	float:right;
	margin-top:30px;
	margin-right:700px;
	font-family:Georgia, "Times New Roman", Times, serif;
	vertical-align: middle;
	font-size: 40px;
	text-decoration:underline;
	color:#500;
}
.judul img{
	margin-left:90px;
	margin-top:10px;
	margin-bottom:20px;
	height:120px;
	width:140px;
}
.subtitle{
	float:right;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align: center;
	font-size: 18px;
	color:#500;
	margin-right:600px;
}
.container p{
	padding:20px;
	font-family:Georgia, "Times New Roman", Times, serif
	font-size:20px;
	text-align:center;
}
.li{
	font-size: 50px;
	}

body{
}